@import '../../styles/utils/colors';

.submitButton{
  text-align: center;
  color: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 25px;
  padding: 0 3em;
  font-weight: 600;
  background-color: $grass-blade;
  cursor: pointer;

  &--inactive{
    background-color: $elephant-paw;
  }
}

.loading {
  text-align: center;
  color: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 25px;
  padding: 0 2em;
  font-weight: 600;
  background-color: $grass-blade;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  i{
    margin-left:1.1em;
  }
}